/* DetailPage.module.css */

.title {
    font-size: xx-large;
    font-family: pretendard;
    font-weight: 800;
    color: #111111;
}

.description {
    font-size: medium;
    font-family: pretendard;
    font-weight: 200;
    color: #111111;
}